/* CSS declarations go here */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.challenge-friend {
  cursor: pointer;
}

.card-panel {
  border: groove 5px lime;
}

.score {
  border: ridge 7px deepskyblue;
}