<template name="ApplicationLayout">
  <header>
    <title>Trivia Rumble</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </header>

  <body>
    <header>
      <nav role="navigation" class="green">
        <div class="nav-wrapper container">
          <a href="/" id="logo-container" class="brand-logo yellow-text text-accent-2">Trivia Rumble</a>
          <ul class="right">
            <li><a href="/search" class="yellow-text text-accent-2"><i class="material-icons left yellow-text text-accent-2">search</i>Find Friends</a></li>
            <li>{{> loginButtons align=right}}</li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {{> yield}}
    </main>

    <footer class="page-footer green">
      <div class="footer-copyright">
        <div class="container">
          <span class="yellow-text text-accent-2">@ 2016 Ludvig</span>
        </div>
      </div>
    </footer>
  </body>
</template>