<template name="home">
  {{#if currentUser}}
  <div class="container">
    <div class="section">
      <div class="row center">
        <h2>Start New Game</h2>
      </div>
      <div class="row center">
        <div class="col s4 center">
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Friends</h4>
            </li>
            {{#if friends}} {{#each friends}}
            <li class="collection-item">
              <div>
                <a href="#">{{username}}</a>
                <a class="secondary-content challenge-friend">
                  <i class="material-icons">play_arrow</i>
                </a>
              </div>
            </li>
            {{/each}} {{/if}}
          </ul>
        </div>
        <div class="col s4 center">
          <h4>Random User</h4>
          <a class="waves-efffect waves-light btn-large rand-user"><i class="material-icons right">shuffle</i>User</a>
        </div>
        <div class="col s4 center">
          <h4>Random Friend</h4>
          <a class="waves-efffect waves-light btn-large rand-friend"><i class="material-icons right">shuffle</i>Friend</a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="card-panel">
        <h4>Your Turn</h4>
      </div>
      <ul class="collection">
        {{#each yourGames}}
        <li class="collection-item avatar">
          {{#with opponentData}}
          <span class="title"><a>{{username}}</a></span> {{/with}}
          <p>Round: {{round}}</p>
          <div class="secondary-content">
            <div class="chip">
              Score: {{yourScore}} - {{opponentScore}}
            </div>
            &nbsp;
            <a href="/game/{{_id}}" class="waves-effect btn">Play</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="section">
      <div class="card-panel">
        <h4>Opponent's Turn</h4>
      </div>
      <ul class="collection">
        {{#each opponentGames}}
        <li class="collection-item avatar">
          {{#with opponentData}}
          <span class="title"><a>{{username}}</a></span> {{/with}}
          <p>Round: {{round}}</p>
          <div class="secondary-content">
            <div class="chip">
              Score: {{yourScore}} - {{opponentScore}}
            </div>
            &nbsp;
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="section">
      <div class="card-panel">
        <h4>Finished Games</h4>
      </div>
      <ul class="collection">
        {{#each finishedGames}}
        <li class="collection-item avatar">
          {{#with opponentData}}
          <span class="title"><a>{{username}}</a></span> {{/with}}
          <p>Round: {{round}}</p>
          <div class="secondary-content">
            <div class="chip">
              Score: {{yourScore}} - {{opponentScore}}
            </div>
            &nbsp;
            <a href="/game/{{_id}}" class="waves-effect btn">Play</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{else}}
  <div class="container">
    <div class="section">
      <div class="card-panel">
        <h3>Please create an account and log in to play.</h3>
      </div>
    </div>
  </div>
  {{/if}}
</template>